
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Mulish', sans-serif;
}
.sec-font {
    font-family: 'Mulish', sans-serif;
}

.iframe {
  zoom: 1.8;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .iframe {
   top: 170px;
   width: 100%;
  }
  
}
